@model IEnumerable<Pacific.Models.Lead>

@{ 
    ViewData["Title"] = "Leads";
    Layout = "_Layout";
}


<h2>Customer Leads</h2>
<hr />

<div class="container">
   

    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12">
            <table class="table">
                <thead style="background-color:black; color:white;">  @*<---------------------------------------- WARNING INLINE STYLE-------> *@
                    <tr>
                        <th>@Html.DisplayNameFor(model => model.Name)</th>
                        <th>@Html.DisplayNameFor(model => model.Phone)</th>
                        <th>@Html.DisplayNameFor(model => model.Email)</th>
                        <th>@Html.DisplayNameFor(model => model.Date)</th>
                    </tr>
                </thead>
                <tbody style="background-color:white; color:black;"> @*<---------------------------------------- WARNING INLINE STYLE-------> *@
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@Html.DisplayFor(modelItem => item.Name)</td>
                            <td>@Html.DisplayFor(modelItem => item.Phone)</td>
                            <td>@Html.DisplayFor(modelItem => item.Email)</td>
                            <td>@Html.DisplayFor(modelItem => item.Date)</td>

                            <td>
                                <a>Details</a> |
                                <a>Delete</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>

</div>